<div class="row" ng-init="item_search = ''">
    <div class="col-xs-12">
        <h4>Item filter</h4>
        <div uib-alert ng-class="'alert-info'">
            Numbers shown are the amount to keep of that item
        </div>
    </div>
    <div class="col-xs-12">
        Space used: {{spaceTaken}} / 350
    </div>
    <div class="col-xs-12">
        <div class="input-group">
            <div class="input-group-addon">Search</div>
            <input type="text" ng-model="item_search" class="form-control">
        </div>
    </div>
    <!-- @TODO List space used / space available -->
    <div class="col-xs-4 col-md-2 margin-bottom-10" ng-repeat="(itemId, item) in items | itemfilter:item_search">
        <img ng-src="/images/items/{{itemId}}.png" class="img-responsive" fallback-src="/images/items/0.png">
        <label>{{item}}</label><br />
        <input type="number" class="form-control" ng-model="keepItems[itemId.toString()].keep">
    </div>
</div>