<div class="row" ng-controller="ReleaseCtrl">
    <div class="col-xs-12">
        <pokemon-select action="addPokemon('release', pokemon)"></pokemon-select>
    </div>
    <div class="col-xs-12">
        <div uib-alert ng-class="'alert-info'">
            Note: If you set Keep best CP / Keep best IV, Release below CP and release below IV are ignored
        </div>
        <div class="input-group">
            <div class="input-group-addon">Search</div>
            <input type="text" ng-model="release_search" class="form-control">
        </div>
    </div>
    <div class="col-xs-12 col-md-12">

        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <td>Name</td>
                <td>Release below CP</td>
                <td>Used logic</td>
                <td>Release below IV</td>
                <td>Keep best CP</td>
                <td>Keep best IV</td>
                <td></td>
            </tr>
            </thead>

            <tr ng-repeat="(key, item) in  config.release | keyfilter:release_search">
                <td>
                    {{key}}
                </td>
                <td>
                    <a href="#" editable-number="item.release_below_cp" ng-show="!item.keep_best_iv && !item.keep_best_cp">{{ item.release_below_cp || 'Click to edit'}}</a>
                    <span ng-if="item.keep_best_iv || item.keep_best_cp">Using keep best iv or<br /> keep best cp</span>
                </td>
                <td>
                    <select ng-model="item.logic">
                        <option value="or">Or</option>
                        <option value="and">And</option>
                    </select>

                </td>
                <td>
                    <a href="#" editable-number="item.release_below_iv"
                       ng-show="!item.catch_above_cp && !item.keep_best_iv">{{ item.keep_best_cp || 'Click to edit'}}</a>
                    <span ng-if="item.keep_best_iv || item.keep_best_cp">Using keep best iv or<br /> keep best cp</span>
                </td>

                <td>
                    <a href="#" editable-number="item.keep_best_iv" e-min="0"
                       ng-if="!item.catch_above_cp && !item.catch_above_iv">{{ item.keep_best_iv || 'Click to edit'}}</a>
                </td>
                <td>
                    <a href="#" editable-number="item.keep_best_cp" e-min="0"
                       ng-if="!item.catch_above_cp && !item.catch_above_iv">{{ item.keep_best_cp || 'Click to edit'}}</a>
                </td>
                <td class="remove_row">
                    <i class="glyphicon glyphicon-trash" ng-click="remove(key)"></i>
                </td>
            </tr>
        </table>
    </div>
</div>