<div class="row">
    <div class="col-xs-12 col-md-6">
        <h4>General info</h4>
        <table class="table-responsive table">
            <tr>
                <td>Auth type</td>
                <td>
                    <select ng-model="config.auth_service">
                        <option value="ptc">PTC</option>
                        <option value="google">Google</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Username</td>
                <td>
                    <input type="text" ng-model="config.username" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="text" ng-model="config.password" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Google Maps api key</td>
                <td>
                    <input type="text" ng-model="config.gmapkey" class="form-control">
                    <small>Get one <a
                            href="https://console.developers.google.com/flows/enableapi?apiid=maps_backend,geocoding_backend,directions_backend,distance_matrix_backend,elevation_backend,places_backend&keyType=CLIENT_SIDE&reusekey=true"
                            target="_blank">here</a></small>
                </td>
            </tr>

            <tr>
                <td>Max steps</td>
                <td>
                    <input type="text" ng-model="config.max_steps" class="form-control">
                </td>
            </tr>

            <tr>
                <td>Walk speed (in km/h)</td>
                <td>
                    <input type="text" ng-model="config.walk" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Wait times</td>
                <td>

                    <div class="input-group">
                        <input type="text" ng-model="config.action_wait_min" class="form-control">
                        <div class="input-group-addon"> Seconds minimal</div>
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="text" ng-model="config.action_wait_max" class="form-control">
                        <div class="input-group-addon"> Seconds maximal</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Health record</td>
                <td>
                    <input type="checkbox" ng-model="config.health_record">
                </td>
            </tr>
            <tr>
                <td>Location cache</td>
                <td>
                    <input type="checkbox" ng-model="config.location_cache">
                </td>
            </tr>
             <tr>
                <td>Distance unit</td>
                <td>
                    <select ng-model="config.distance_unit">
                        <option value="km">Kilometers</option>
                        <option value="mi">Miles</option>
                        <option value="ft">Feet</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-xs-12 col-md-6">
        <h4>Select start location</h4>
        Click on the map to set your start location
        <ng-map zoom="13" center="52.375457,4.8761486" on-click="placeMarker(event)">
            <marker position="{{marker.lat}},{{marker.lng}}" draggable="true" on-dragend="setCoords(event)" animation="Animation.DROP"></marker>
        </ng-map>
        <div>
            Current start location: {{config.location}}
        </div>
    </div>
</div>