<uib-tabset active="active">
    <uib-tab index="0" heading="General">
        <general-config config="config"></general-config>

    </uib-tab>
    <uib-tab index="1" heading="Item settings">
        <item-config config="config"></item-config>
    </uib-tab>
    <uib-tab index="5" heading="Evolve settings">
        <evolve-config config="config"></evolve-config>
    </uib-tab>
    <uib-tab index="2" heading="Capture settings">
        <div class="row">
            <div class="col-xs-12">
                <pokemon-select action="addPokemon('catch', pokemon)"></pokemon-select>
                <catch-table pokemons="config.catch"></catch-table>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="3" heading="Release settings">
        <div class="col-xs-12">
            <pokemon-select action="addPokemon('release', pokemon)"></pokemon-select>
            <release-table pokemons="config.release"></release-table>
        </div>
    </uib-tab>
    <uib-tab index="4" heading="Navigator settings" select="$emit('c')">
        <navigator config="config"></navigator>
    </uib-tab>

    <uib-tab index="6" heading="Generated conf">
            <button class="btn btn-success">Save</button>
            <textarea config-textarea config="config" class="config_area">{{ config | json }}</textarea>
    </uib-tab>

</uib-tabset>
